<a href="https://colab.research.google.com/github/Surya7400/data-analytics/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#variables
age=25
weight=56.7
name="sam kumar"
is_active=True
address=None
#integer
print(age,type(age))
#float
print(weight,type(weight))
#string
print(name,type(name))
#id
print(name,id(name))
#boolean
print(is_active,type(is_active))
#Null
print(address,type(address))

25 <class 'int'>
56.7 <class 'float'>
sam kumar <class 'str'>
sam kumar 133080624560816
True <class 'bool'>
None <class 'NoneType'>
<class 'str'>

In [ ]:
#local variable
def hotel():
  food="chicken Rice"
  print("this hotel food is",food)
hotel()

this hotel food is chicken Rice

In [ ]:
#Enclosing variable
def home():
  food="curd Rice"
  def Room():
    print("Serve this room",food)
  Room()
home()

Serve this room curd Rice

In [ ]:
#global variable
food_delivery="sam"
def online():
   item ="pizza"
   print(food_delivery)
   def order():
    print("this order is:",f"{item} delivery {food_delivery}")
   order()
online()

sam
this order is: pizza delivery sam

In [ ]:
a="10"
print(int(a))
b="10.3"
print(float(b))

10
10.3

In [ ]:
#expression
x=5+6
print(x)

11

In [ ]:
#arithmetic operation
a=10
b=3
print(a+b)#addition
print(a-b)#sub
print(a*b)#mul
print(a/b)#div
print(a%b)#mod
print(a**b)#10*10*10
print(a//b)# given hole number

13
7
30
3.3333333333333335
1
1000
3

In [ ]:
#comparision
x=5
y=10
print(x==y)#check equal or not
print(x!=y)#check not equal
print(x<y) #less than
print(x>y) #greater than

False
True
True
False

In [ ]:
#logical
g=True
v=False
print(g and v)
print(g or v)
print(not g)
print(not v)

False
True
False
True

In [ ]:
#branch if
amount=1200
tax=amount*0.18
total=amount+tax
print(total)
if total>1000:
   discount=total*0.10
   total-=discount
   print("total amount",total)

1416.0
total amount 1274.4

In [ ]:
age=65
student='yes'
if age>=60 or student=='yes':
  print("yes you are eligible for discount")
else:
  print("no you are not eligible for discount")

yes you are eligible for discount

In [ ]:
age=int(input("enter your age:"))
student =input('are you student, yes/No:')
if age>=18 and student == "no":
  print("eligible to the laber")
else:
  print("not eligible for laber")

enter your age:20
are you student, yes/No:yes
not eligible for laber

In [ ]:
import sys
fullname=sys.argv[1]
email=fullname.lower().replace("",".")+"@company.com"
print("\nuser profile\n")
print(fullname)
print(email)

user profile

-f
.-.f.@company.com

In [ ]:
if(True):
  print("this is true")
else:
  print("this is false")

this is true

In [ ]:
meghna=input("enter your live status:")
if meghna=='Died':
  print("surya meet priya")
else:
  print("surya weds meghna")

enter your live status:Died
surya meet priya

In [ ]:
mark=int(input("enter your marks:"))
if mark>=35:
  print("you are pass the exam")
else:
   print("you are fail the exam")

enter your marks:35
you are pass the exam

In [ ]:
income=int(input("enter your income:"))
if income<7000:
  print("you are eligible for scholarship")
else:
   print("you are not eligible for scholarship")

enter your income:7200
you are not eligible for scholarship

In [ ]:
number=int(input("enter divisible by 3 and 5"))
if number%3==0 and number%5==0:
  print("divisible by 3 and 5")
else:
  print("not divisible by 3 and 5")

enter divisible by 3 and 515
divisible by 3 and 5

In [ ]:
#find the number odd or even
f_number=int(input("enter the number:"))
if f_number%2==0:
  print("even number")
else:
  print("odd number")

enter the number:4
even number

In [ ]:
#student rank status
g_marks=int(input("enter your marks:"))
if g_marks<35:
  print("poor student")
if g_marks>35 and g_marks<70:
  print("average student")
if g_marks>70:
  print("good student")

enter your marks:56
average student

In [ ]:
M_score=int(input("enter the marks:"))
if M_score<35:
  print("poor student")
elif(M_score>35 and M_score<70):
  print("average student")
elif(M_score>70 and M_score<10):
  print("good student")
else:
   print("invalid number")

enter the marks:25
poor student

In [ ]:
a=int(input("enter the number A:"))
b=int(input("enter the number B"))
operation=input("add/sub/mul/div")
if operation=="add":
   print(a+b)
elif operation=="sub":
  print(a-b)
elif operation=="mul":
  print(a*b)
elif operation=="div":
  print(a/b)
else:
  print("invalid number")

enter the number A:23
enter the number B34
add/sub/mul/divadd
57

In [ ]:
salary=int(input("enter the value:"))
age=int(input("enter the age:"))
if salary>=20000 or age<=25:
   loan=int(input("enter the loan value:"))
   if loan>50000:
       print("maximum loan amount")
   else:
    print("eligible for loan")
else:
   print("not eligible for vote:")

enter the value:20000
enter the age:26
enter the loan value:52000
maximum loan amount

In [ ]:
a=int(input("enter the subject 1 marks:"))
b=int(input("enter the subject 2 marks:"))
c=int(input("enter the subject 3 marks:"))
d=int(input("enter the subject 4 marks:"))
e=int(input("enter the subject 5 marks:"))
total=a+b+c+d+e
print("total marks:",total)
average=total/5
if total<35:
   print("additional class required")
else:
   print("you are good to go")

enter the subject 1 marks:35
enter the subject 2 marks:35
enter the subject 3 marks:35
enter the subject 4 marks:35
enter the subject 5 marks:35
total marks: 175
you are good to go

In [ ]:
#for loop
for i in "apple":
  print(i)

a
p
p
l
e

In [ ]:
for i in range(6):
  print(i)

0
1
2
3
4
5

In [ ]:
#using for create 2 table
for i in range(1,11):
 print(i,"x2=",i*2)

1 x2= 2
2 x2= 4
3 x2= 6
4 x2= 8
5 x2= 10
6 x2= 12
7 x2= 14
8 x2= 16
9 x2= 18
10 x2= 20

In [ ]:
#create 15 table
for i in range(1,11):
  print(i,"x15",i*15)

1 x15 15
2 x15 30
3 x15 45
4 x15 60
5 x15 75
6 x15 90
7 x15 105
8 x15 120
9 x15 135
10 x15 150

In [ ]:
#print between numbers
a=int(input("enter the num a:"))
b=int(input("enter the num b:"))
for i in range(a,b):
  print(i)

enter the num a:22
enter the num b:34
22
23
24
25
26
27
28
29
30
31
32
33

In [ ]:
for i in range(1,11):
  if(i%2==0):
    print(i)

2
4
6
8
10

In [ ]:
count = 0
for i in range(1, 11):
    if i % 2 == 0:
        count += 1

print("Count of even numbers from 1 to 10:", count)

Count of even numbers from 1 to 10: 5

In [ ]:
o_count = 0
e_count=0
for i in range(1, 11):
    if i % 2 == 0:
        e_count += 1
    else:
        o_count+=1
print("Count of even numbers from 1 to 10:", e_count)
print("count of odd numbers from 1 to 10:",o_count)

Count of even numbers from 1 to 10: 5
count of odd numbers from 1 to 10: 5

In [ ]:
a=[]
#add the number list
a.append(10)
a.append(20)
a.append(30)
a.append(40)
print(a)
#remove the number using index
a.pop(3)
print(a)

[10, 20, 30, 40]
[10, 20, 30]

In [ ]:
a=[]
for i in range(10):
  num=int(input())
  a.append(num)
print(a)

23
24
25
26
27
28
29
30
31
32
[23, 24, 25, 26, 27, 28, 29, 30, 31, 32]

In [ ]:
for i in range(1,6):
  print(i*i*i)

1
8
27
64
125

In [ ]:
for i in range(3,6):
    for j in range(1,3):
        print(j,"apple")
        print(i,"banana")

1 apple
3 banana
2 apple
3 banana
1 apple
4 banana
2 apple
4 banana
1 apple
5 banana
2 apple
5 banana

In [ ]:
for i in range(1,4):
    for j  in range(1,8):
       print("week",i)
       print("Day",j)

week 1
Day 1
week 1
Day 2
week 1
Day 3
week 1
Day 4
week 1
Day 5
week 1
Day 6
week 1
Day 7
week 2
Day 1
week 2
Day 2
week 2
Day 3
week 2
Day 4
week 2
Day 5
week 2
Day 6
week 2
Day 7
week 3
Day 1
week 3
Day 2
week 3
Day 3
week 3
Day 4
week 3
Day 5
week 3
Day 6
week 3
Day 7

In [ ]:
#while loop
i=0
while i==0:
      print(i)
      i+=1;

0

In [ ]:
i=0
while i%2==0:
      print(i)
      i+=1;

0

In [ ]:
i=0
while i<5:
    print(i)
    i+=1;

0
1
2
3
4

In [ ]:
i=10
while i<201:
  print(i)
  i+=10;

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200

In [ ]:
i=5
fact=1
while i>0:
    fact*=i
    i-=1
print(i)

In [ ]:
#collection (arrays)
#list
a=[1,2,3,4]
print(a)
a.append(5)
print(a)
a[0]=12
print(a)
a.insert(1,11)
print(a)
a.pop(4)
print(a)
#extend
l1=[1,2]
l2=[3,4]
l1.extend(l2)
print(l1)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[12, 2, 3, 4, 5]
[12, 11, 2, 3, 4, 5]
[12, 11, 2, 3, 5]
[1, 2, 3, 4]

In [ ]:
#tuple
a=(1,2,3,4,5)
b=list(a)
print(b)
b.append(20)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 20]

In [ ]:
#set
a={1,2,3,4}
a.add(23)
print(a)

{1, 2, 3, 4, 23}

In [ ]:
#dictonary
a={
    "name":["sam","ram","mam"],
    "age":[20,21,22],
}
print(a)
print(a.keys())
print(a.values())
a.update({"age":[19,20,21]})
print(a)
a["color"]="red"
print(a)
a.pop("color")
print(a)
del a
print(a)

{'name': ['sam', 'ram', 'mam'], 'age': [20, 21, 22]}
dict_keys(['name', 'age'])
dict_values([['sam', 'ram', 'mam'], [20, 21, 22]])
{'name': ['sam', 'ram', 'mam'], 'age': [19, 20, 21]}
{'name': ['sam', 'ram', 'mam'], 'age': [19, 20, 21], 'color': 'red'}
{'name': ['sam', 'ram', 'mam'], 'age': [19, 20, 21]}

NameError: name 'a' is not defined

In [ ]:
#function
def add():
   a=int(input("enter the first number:"))
   b=int(input("enter the second number:"))
   print(a+b)
print("ok")


def sub():
   a=int(input("enter the first number:"))
   b=int(input("enter the second number:"))
   print(a-b)
print("ok")

def mul():
   a=int(input("enter the first number:"))
   b=int(input("enter the second number:"))
   print(a*b)
print("ok")

def div():
   a=int(input("enter the first number:"))
   b=int(input("enter the second number:"))
   print(a/b)
print("ok")



add()
sub()
mul()
div(32)

ok
ok
ok
ok
enter the first number:2
enter the second number:4
6
enter the first number:34
enter the second number:32
2
enter the first number:3
enter the second number:2
6
enter the first number:15
enter the second number:3
5.0

In [ ]:
#function with parameter
def painter(msg):
  print("message:",msg)
painter("paint my house")

message: paint my house

In [ ]:
def f_o_r_e(b):
   if b%2==0:
     print("even")
   else:
    print("odd")
a=int(input("enter the number:"))
f_o_r_e(a)

enter the number:12
even

In [ ]:
def range(r1,r2):
  for i in range(r1,r2):
     print(i)
range(1,10)